<div class="row pad_15">
  
    <form (ngSubmit)="onSubmit(masterDataForm)" #masterDataForm="ngForm">
      <div class="form-group row">
        <div class="">
          <div class="col-sm-4 mar_b_10_mbl">
            <label for="prodid" class="">Mode of Payment
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <select class="form-control" [(ngModel)]="masterData.mode_of_payment" #mode_of_payment="ngModel" name="mode_of_payment" (change)="onSelect(mode_of_payment.value)" required >
                  <option [ngValue]="undefined" disabled selected>--Select Mode--</option>
                  <option *ngFor="let m of paymentmodes | async" [ngValue]="m.mode_of_payment">
                    {{m.mode_of_payment}}
                  </option>
                </select>
                <div [hidden]="mode_of_payment.valid || mode_of_payment.untouched" class="validation_msg">
                  please select payment mode
                </div>
              </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl">
            <label class="">Date
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <input type="date" class="form-control" id="brand" name="date" [(ngModel)]="masterData.date" #date="ngModel" required
                placeholder="Enter Date">
              <div [hidden]="date.valid || date.untouched" class="validation_msg">
                please select date
              </div>
            </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl">
            <label class="">Currency
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input class="form-control" [(ngModel)]="masterData.currency_code" #currency_code="ngModel" name="currency_code" required readonly>
                <!-- <option [ngValue]="undefined" disabled selected>--Select Currency--</option>
                <option *ngFor="let item of currencycodes | async" [ngValue]="item.currency_code">
                  {{item.sign}}
                </option> -->
              <!-- </select> -->
              <div [hidden]="currency_code.valid ||  currency_code.untouched" class="validation_msg">
                please select currency
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Customer Details:</h4>
      <div class="form-group row">
        <div class="">
            <div class="col-sm-4 mar_b_10_mbl">
                <label for="giver_company_name" class="">Company Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                    <input autocomplete="off" class='select-option form-control' [(ngModel)]="masterData.giver_company_name" (change)="onChange(giver_company_name.value)" required type="text" name="giver_company_name"
                    #giver_company_name="ngModel" id="giver_company_name" list="companynames" placeholder="Company Name">
                    <datalist id="companynames" >
                    <option [ngValue]="undefined" disabled selected>Company Name</option>
                    <option  *ngFor="let gc of givercompanynames" [ngValue]="gc.company_code"> {{gc.name| titlecase}}-{{gc.company_code}}
                    </option>
                  </datalist>
                  <!-- {{cities.city| titlecase}} -->
                    <!-- <select class="form-control" [(ngModel)]="masterData.giver_company_name" (change)="onChange(giver_company_name.value)" #giver_company_name="ngModel" name="giver_company_name" required >
                        <option [ngValue]="undefined" disabled selected>--Select Company Name --</option>
                        <option *ngFor="let gc of givercompanynames" [ngValue]="gc.company_code">
                          {{gc.name}}({{gc.company_code}})
                        </option>
                      </select> -->
                      <div [hidden]="giver_company_name.valid ||  giver_company_name.untouched" class="validation_msg">
                        Company name is required
                    </div>
                </div>
              </div>
              <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment=='CASH'">
                  <label for="amount" class="">Amount
                    <sub class="txt_red f_size_25">*</sub>
                  </label>
                  <div class="">
                    <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="masterData.amount" #amount="ngModel" required placeholder="Enter Amount" (keypress)="keypress($event)">
                    <div [hidden]="amount.valid || amount.untouched" class="validation_msg">
                        Amount is required
                    </div>
                  </div>
                </div>
          <!-- <div class="col-sm-4 mar_b_10_mbl">
            <label for="giver_company_code" class="">Company code
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control"   id="giver_company_code" name="giver_company_code" [(ngModel)]="masterData.giver_company_code" #giver_company_code="ngModel" required
                placeholder="Enter Company code" readonly>
              <div [hidden]="giver_company_code.valid ||  giver_company_code.untouched" class="validation_msg">
                  Company code is required
              </div>
            </div>
          </div> -->
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
            <label for="giver_advice_name" class="">Account Holder Name
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control"   id="giver_advice_name" name="giver_advice_name" [(ngModel)]="masterData.giver_advice_name" #giver_advice_name="ngModel" required
                placeholder="Enter Name" readonly>
              <div [hidden]="giver_advice_name.valid ||  giver_advice_name.untouched" class="validation_msg">
                  Name is required
              </div>
            </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
              <label for="giver_bank" class="">Bank
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <input type="text" class="form-control" readonly id="giver_bank" name="giver_bank" [(ngModel)]="masterData.giver_bank" #giver_bank="ngModel" required placeholder="Enter Bank Name">
                <div [hidden]="giver_bank.valid || giver_bank.untouched" class="validation_msg">
                    Bank is required
                </div>
              </div>
            </div>

         
        </div>
      </div>
  
      <div class="form-group row">
        <div class="">
         
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
            <label for="giver_branch" class="">Branch
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control" id="giver_branch" readonly name="giver_branch" [(ngModel)]="masterData.giver_branch" #giver_branch="ngModel" required
                placeholder="Enter Branch">
              <div [hidden]="giver_branch.valid || giver_branch.untouched" class="validation_msg">
                  Branch is required
              </div>
            </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
            <label for="giver_ifsc" class="">IFSC Code
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control" id="giver_ifsc" readonly name="giver_ifsc" [(ngModel)]="masterData.giver_ifsc" #giver_ifsc="ngModel" required
                placeholder="Enter IFSC Code">
              <div [hidden]="giver_ifsc.valid || giver_ifsc.untouched" class="validation_msg">
                  IFSC Code is required
              </div>
            </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
              <label for="giver_accno" class="">Account no.
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                  <input type="text" class="form-control" id="giver_accno" readonly name="giver_accno" [(ngModel)]="masterData.giver_accno" #giver_accno="ngModel" required
                  placeholder="Enter Account no." (keypress)="keypress($event)">
                <div [hidden]="giver_accno.valid || giver_accno.untouched" class="validation_msg">
                    Account no. is required
                </div>
              </div>
            </div> 
          

        </div>
      </div>
  
      <div class="form-group row">
        <div class="">
         
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
            <label for="check_no" class="">Cheque no.
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control" id="check_no" name="check_no" [(ngModel)]="masterData.check_no" #check_no="ngModel" required placeholder="Cheque no.">
              <div [hidden]="check_no.valid || check_no.untouched" class="validation_msg">
                  Cheque no. is required
              </div>
            </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
              <label for="check_date" class="">Cheque Date
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                  <!-- <input type="date" class="form-control" id="check_date" name="check_date" [(ngModel)]="masterData.check_date" #check_date="ngModel" required
                  placeholder="Enter Cheque Date" [min]="today" > -->
                  <mat-form-field style="width:344px;" >
                    <input matInput required  [matDatepicker]="picker" placeholder="Choose a date"
                      [(ngModel)]="masterData.check_date" #check_date="ngModel" name="check_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <div [hidden]="check_date.valid || check_date.untouched" class="validation_msg">
                    Cheque Date is required
                </div>
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl"  *ngIf="masterData.mode_of_payment!='CASH'">
                <label for="amount" class="">Amount
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="masterData.amount" #amount="ngModel" required placeholder="Enter Amount" (keypress)="keypress($event)">
                  <div [hidden]="amount.valid || amount.untouched" class="validation_msg">
                      Amount is required
                  </div>
                </div>
              </div>
         
</div>
      </div>
          <div class="form-group row" >
            <button type="button" *ngIf="masterData.mode_of_payment!='CASH' && managebank" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
          (click)="displaygiverbanks(masterData.giver_company_code)" style="margin-top: 0px;">
          <!-- <i class="fa fa-map-marker" aria-hidden="true"></i>  -->
         Add Account
        </button>
      
      </div>
  
      
 
      <h4 class="f_wt_600 txt_decr_undl txt_black pad_t_b_10">Our Details:</h4>
      <div class="form-group row" >
          <div class="">
              <div class="col-sm-4 mar_b_10_mbl">
                  <label for="receiver_company_name" class="">Company Name
                    <sub class="txt_red f_size_25">*</sub>
                  </label>
                  <div class="">
                    <input type="text" class="form-control" id="receiver_company_name" name="receiver_company_name" readonly [(ngModel)]="masterData.receiver_company_name" #receiver_company_name="ngModel" required
                      placeholder="Enter Name">
                    <div [hidden]="receiver_company_name.valid || receiver_company_name.untouched" class="validation_msg">
                     Company name is required
                    </div>
                  </div>
                </div>
               
            <div class="col-sm-4 mar_b_10_mbl">
              <label for="receiver_company_code" class="">Company code
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <input type="text" class="form-control" id="receiver_company_code" name="receiver_company_code" [(ngModel)]="masterData.receiver_company_code" #receiver_company_code="ngModel" readonly required
                  placeholder="Enter Company code">
                <div [hidden]="receiver_company_code.valid ||  receiver_company_code.untouched" class="validation_msg">
                    Company code is required
                </div>
              </div>
            </div>
           
            <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
              <label for="receiver_advice_name" class="">Account Holder Name
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <input type="text" class="form-control"  readonly id="receiver_advice_name" name="receiver_advice_name" [(ngModel)]="masterData.receiver_advice_name" #receiver_advice_name="ngModel" required
                  placeholder="Enter Name">
                <div [hidden]="receiver_advice_name.valid ||  receiver_advice_name.untouched" class="validation_msg">
                    Name is required
                </div>
              </div>
            </div>

           
          </div>
        </div>
    
        <div class="form-group row">
          <div class="">
              <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
                  <label for="receiver_accno" class="">Account no.
                    <sub class="txt_red f_size_25">*</sub>
                  </label>
                  <div class="">
                      <input type="text" class="form-control" readonly id="receiver_accno" name="receiver_accno" [(ngModel)]="masterData.receiver_accno" #receiver_accno="ngModel" required
                      placeholder="Enter Account no." (keypress)="keypress($event)">
                    <div [hidden]="receiver_accno.valid || receiver_accno.untouched" class="validation_msg">
                        Account no. is required
                    </div>
                  </div>
                </div>
            <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
              <label for="receiver_bank" class="">Bank
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <input type="text" class="form-control" id="receiver_bank" readonly name="receiver_bank" [(ngModel)]="masterData.receiver_bank" #receiver_bank="ngModel" required placeholder="Enter Bank Name">
                <div [hidden]="receiver_bank.valid || receiver_bank.untouched" class="validation_msg">
                    Bank is required
                </div>
              </div>
            </div>
            <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
              <label for="receiver_branch" class="">Branch
                <sub class="txt_red f_size_25">*</sub>
              </label>
              <div class="">
                <input type="text" class="form-control" id="receiver_branch" readonly name="receiver_branch" [(ngModel)]="masterData.receiver_branch" #receiver_branch="ngModel" required
                  placeholder="Enter Branch">
                <div [hidden]="receiver_branch.valid || receiver_branch.untouched" class="validation_msg">
                    Branch is required
                </div>
              </div>
            </div>
           

           
          </div>
        </div>
    
        <div class="form-group row">
          <div class="">
           
              <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
                  <label for="receiver_ifsc" class="">IFSC Code
                    <sub class="txt_red f_size_25">*</sub>
                  </label>
                  <div class="">
                    <input type="text" class="form-control" id="receiver_ifsc" readonly name="receiver_ifsc" [(ngModel)]="masterData.receiver_ifsc" #receiver_ifsc="ngModel" required
                      placeholder="Enter IFSC Code">
                    <div [hidden]="receiver_ifsc.valid || receiver_ifsc.untouched" class="validation_msg">
                        IFSC Code is required
                    </div>
                  </div>
                </div>
            </div>
            <button type="button" *ngIf="masterData.mode_of_payment!='CASH'" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
            (click)="displayreceiverbanks(masterData.receiver_company_code)" style="margin-top: 20px;">
            <!-- <i class="fa fa-map-marker" aria-hidden="true"></i>  -->
           Add Account
          </button>
  </div>
     
  
     
        
  
  
  
      <div class="form-group row">
        <div class="">
          <div class="col-sm-4 mar_b_10_mbl">
            <label for="payment_against" class="">Payment Against
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
               
                <input class="form-control" id="payment_against" [(ngModel)]="masterData.payment_against" readonly #payment_against="ngModel" name="payment_against"  >
                    <!-- <option [ngValue]="undefined" disabled selected>--Select--</option>
                    <option *ngFor="let p of paymentagainst | async" [ngValue]="p.process">
                      {{p.process}}
                    </option>
                  </select> -->
              <div [hidden]="payment_against.valid || payment_against.untouched" class="validation_msg">
                  Payment Against is required
              </div>
            </div>
          </div>

         
          <div class="col-sm-4 mar_b_10_mbl">
            <label for="status" class="">Status
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <select class="form-control" id="status" [(ngModel)]="masterData.status" #status="ngModel" name="status" required >
                    <option [ngValue]="undefined" disabled selected>--Select--</option>
                    <option  *ngFor="let s of paymentstatus1 " [ngValue]="s.value" >
                      {{s.status}}
                    </option>
                  </select>
              <div [hidden]="status.valid || status.untouched" class="validation_msg">
                  status is required
              </div>
            </div>
          </div>
         
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.status=='1'">
            <label for="received_date" class="">Payment Received Date
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <input type="date" class="form-control" id="received_date" name="received_date" [(ngModel)]="masterData.received_date" #received_date="ngModel"  required
                placeholder="Enter Received Date">
              <div [hidden]="received_date.valid || received_date.untouched" class="validation_msg">
                  Received Date is required
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-group row">
        <div class="">

           
          <div class="col-sm-4 mar_b_10_mbl">
            <label for="remarks" class="">Remarks
              <!-- <sub class="txt_red f_size_25">*</sub> -->
            </label>
            <div class="">
                <textarea class="form-control rounded-0" id="remarks" rows="3" name="remarks" [(ngModel)]="masterData.remarks"
                #remarks="ngModel"  placeholder="Enter Remarks"></textarea>
              <!-- <div [hidden]="remarks.valid || remarks.untouched" class="validation_msg">
                  Remarks is required
              </div> -->
            </div>
          </div>
        </div>
      </div>
  
     
      <div class="form-group row pad_t_b_10">
        <div class="col-sm-12">
          <div class="pull-left">
            <button type="reset" class="btn btn-primary brdr_radius_50 btn_w bg_red border_red" (click)="clear()" >
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Clear</button>
          </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" [disabled]="masterDataForm.invalid">Submit
              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
  
    </form>
  
  </div>
  


  <div class="modal fade" id="successModal"  tabindex="-1" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="padding:0;">
          <div class="row">
            <div class="col-md-12">
              <h4 class="alert_heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
              <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
                <span>Payment Details Inserted Sucessfully..!!</span>
                <br>
             
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-success fr" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="showbankdetails" tabindex="-1"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body bankdisplay">
               
  <mat-grid-list cols="2" rowHeight="2:1.5" *ngIf="showbank">
    <h4 align="center" class="">
             
      <span matLine>
        <b>Bank Details</b>
      </span>
      <span style="float:right;">
        <button type="button" class="close1" data-dismiss="modal">&times;</button>
      </span>

    </h4> 
    <button type="button" class="btn btn-primary addbank brdr_radius_50 btn_w bg_green border_green"
    (click)="addnewbank(bankdetails,2)" style="margin-top: 20px;">
   
    Add New Bank
  </button>
    <mat-grid-tile  *ngFor="let cd of bankdetails; let i = index">
    
      <div class="mat_addr_styles">
        <div class="user_data_addr">
          
        
       
           <mat-radio-group class="example-radio-group mat_rad radio-btn">
              <mat-radio-button name="seqno" value="{{cd.default_1}}" [checked]="cd.default_1==1"
                (change)="setasDefault(cd)"></mat-radio-button>
            </mat-radio-group>
            
          <p matLine>
            
            <span> <b>{{cd.bank_name}}</b>, </span>
          </p>
          <p matLine>
            <span>{{cd.acc_no}}, </span>
          
          </p>
          <p matLine>
            <span>{{cd.ifsc}}, </span>
          
          </p>
          <p matLine>
              <span>{{cd.branch}} . </span>
          </p>
         
        </div>
      
      </div>
     
    
    
    </mat-grid-tile>
   
  </mat-grid-list>
 
  </div>
 
  </div>
 
  </div>
  </div>
  <div class="modal fade" id="newbankdetails" tabindex="-1"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" >
               
       
  <div class="newAddress"  *ngIf="newbank" >
  
      <h4 class="">
       <u>Add New Bank Details:</u>
        </h4>
    <form #newAddForm="ngForm">
        <div class="form-group row">
            <div class="">
                <div class="col-sm-12 mar_b_10_mbl">
                <input type="checkbox"   name="default_1"    [(ngModel)]="masterData1.default_1" #default_1="ngModel">  <b>  Would you like to make this as default bank?</b>
                
              
              </div>
              </div>
          </div>
      <div class="form-group row">
       
        <div class="">
            <div class="col-sm-4 mar_b_10_mbl" >
                <label for="giver_advice_name" class="">Account Holder Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control"   id="giver_advice_name" name="giver_advice_name" [(ngModel)]="masterData1.giver_advice_name" #giver_advice_name="ngModel" required
                    placeholder="Enter Name">
                  <div [hidden]="giver_advice_name.valid ||  giver_advice_name.untouched" class="validation_msg">
                      Name is required
                  </div>
                </div>
              </div>
          <div class="col-sm-4 mar_b_10_mbl">
            <label for="name" class="">Bank
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <input type="text" class="form-control" id="giver_bank" name="giver_bank" [(ngModel)]="masterData1.giver_bank" #giver_bank="ngModel" required placeholder="Enter Bank Name">
                <div [hidden]="giver_bank.valid || giver_bank.untouched" class="validation_msg">
                    Bank is required
                </div>
              </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl">
            <label for="mobile" class="">Branch
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <input type="text" class="form-control" id="giver_branch" name="giver_branch" [(ngModel)]="masterData1.giver_branch" #giver_branch="ngModel" required
                  placeholder="Enter Branch">
                <div [hidden]="giver_branch.valid || giver_branch.untouched" class="validation_msg">
                    Branch is required
                </div>
              </div>
          </div>
        
        </div></div>
        <div class="form-group row">
          <div class="">
              <div class="col-sm-4">
                  <label for="hno" class="">IFSC Code
                    <sub class="txt_red f_size_25">*</sub>
                  </label>
                  <div class="">
                      <input type="text" class="form-control" id="giver_ifsc" name="giver_ifsc" [(ngModel)]="masterData1.giver_ifsc" #giver_ifsc="ngModel" required
                        placeholder="Enter IFSC Code">
                      <div [hidden]="giver_ifsc.valid || giver_ifsc.untouched" class="validation_msg">
                          IFSC Code is required
                      </div>
                    </div>
                </div>
          <div class="col-sm-4">
            <label for="street" class="">Account No.
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <input type="text" class="form-control" id="giver_accno" name="giver_accno" [(ngModel)]="masterData1.giver_accno" #giver_accno="ngModel" required
                placeholder="Enter Account no." (keypress)="keypress($event)">
              <div [hidden]="giver_accno.valid || giver_accno.untouched" class="validation_msg">
                  Account no. is required
              </div>
            </div>
          </div>
        </div>
      </div>

      
    </form>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="fl">
          <button type="button" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
            (click)="cancelbankdetails()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Cancel
          </button>
        </div>
        <div class="fr">
          <button type="button"  (click)="savegiverbankdetails()"
            class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" [disabled]="newAddForm.invalid">Save
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
 
  </div>
  </div>
  </div>
  </div>

  <div class="modal fade" id="receivernewbankdetails" tabindex="-1"  role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" >
               
       
  <div class="newAddress"  *ngIf="receivernewbank" >
  
      <h4 class="">
       <u>Add New Bank Details:</u>
        </h4>
    <form #newAddForm1="ngForm">
        <div class="form-group row">
            <div class="">
                <div class="col-sm-12 mar_b_10_mbl">
                <input type="checkbox"   name="default_1"    [(ngModel)]="masterData1.default_1" #default_1="ngModel">  <b>  Would you like to make this as default bank?</b>
                
              
              </div>
              </div>
          </div>
      <div class="form-group row">
       
        <div class="">
            <div class="col-sm-4 mar_b_10_mbl" >
                <label for="receiver_advice_name" class="">Account Holder Name
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control"   id="receiver_advice_name" name="receiver_advice_name" [(ngModel)]="masterData1.receiver_advice_name" #receiver_advice_name="ngModel" required
                    placeholder="Enter Name">
                  <div [hidden]="receiver_advice_name.valid ||  receiver_advice_name.untouched" class="validation_msg">
                      Name is required
                  </div>
                </div>
              </div>
          <div class="col-sm-4 mar_b_10_mbl" >
            <label for="receiver_bank" class="">Bank
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control" id="receiver_bank" name="receiver_bank" [(ngModel)]="masterData1.receiver_bank" #receiver_bank="ngModel" required placeholder="Enter Bank Name">
              <div [hidden]="receiver_bank.valid || receiver_bank.untouched" class="validation_msg">
                  Bank is required
              </div>
            </div>
          </div>
          <div class="col-sm-4 mar_b_10_mbl" >
            <label for="receiver_branch" class="">Branch
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
              <input type="text" class="form-control" id="receiver_branch" name="receiver_branch" [(ngModel)]="masterData1.receiver_branch" #receiver_branch="ngModel" required
                placeholder="Enter Branch">
              <div [hidden]="receiver_branch.valid || receiver_branch.untouched" class="validation_msg">
                  Branch is required
              </div>
            </div>
          </div>
         

         
        </div>
      </div>
  
      <div class="form-group row">
        <div class="">
            <div class="col-sm-4 mar_b_10_mbl" >
                <label for="receiver_ifsc" class="">IFSC Code
                  <sub class="txt_red f_size_25">*</sub>
                </label>
                <div class="">
                  <input type="text" class="form-control" id="receiver_ifsc" name="receiver_ifsc" [(ngModel)]="masterData1.receiver_ifsc" #receiver_ifsc="ngModel" required
                    placeholder="Enter IFSC Code">
                  <div [hidden]="receiver_ifsc.valid || receiver_ifsc.untouched" class="validation_msg">
                      IFSC Code is required
                  </div>
                </div>
              </div>
          <div class="col-sm-4 mar_b_10_mbl" *ngIf="masterData.mode_of_payment!='CASH'">
            <label for="receiver_accno" class="">Account no.
              <sub class="txt_red f_size_25">*</sub>
            </label>
            <div class="">
                <input type="text" class="form-control" id="receiver_accno" name="receiver_accno" [(ngModel)]="masterData1.receiver_accno" #receiver_accno="ngModel" required
                placeholder="Enter Account no." (keypress)="keypress($event)">
              <div [hidden]="receiver_accno.valid || receiver_accno.untouched" class="validation_msg">
                  Account no. is required
              </div>
            </div>
          </div>
      </div>
      </div>

      
    </form>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="fl">
          <button type="button" class="btn btn-primary brdr_radius_50 btn_w bg_green border_green"
            (click)="cancelreceiverbankdetails()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Cancel
          </button>
        </div>
        <div class="fr">
          <button type="button"  (click)="savereceiverbankdetails()"
            class="btn btn-primary brdr_radius_50 btn_w bg_green border_green" [disabled]="newAddForm1.invalid">Save
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
 
  </div>
  </div>
  </div>
  </div>

  <div class="modal fade" id="addbanksuccessModal"  tabindex="-1" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" style="padding:0;">
          <div class="row">
            <div class="col-md-12">
              <h4 class="alert_heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </h4>
              <div class="right_mark">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="pad_15 text-center content_msg" style="padding: 15% 0;">
                <span>Bank Details Inserted Sucessfully..!!</span>
                <br>
             
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-success fr" (click)="insertbanksuccess()" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  